<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MercadoLiebre</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <img src="/images/logo-mercado-liebre.svg" alt="Logo de mercadoliebre" />
    <div id="busqueda">
      <input type="text" placeholder="Buscar productos, marcas">
      <button><i class="fa-regular fa-magnifying-glass"></i></button>
    </div>
    <h1>Comprá en cuotas y sin tarjeta de crédito</h1>
    <nav>
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="">Tiendas oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
        <br />
        <li><a href="">Creá tu cuenta</a></li>
        <li><a href=""></a>Ingresá</li>
        <li><a href=""></a>Mis compras</li>
      </ul>
    </nav>
  </header>
  <main>
    <!-- seccion de última visita -->
    <section>
      <h2>Basado en tu última visita</h2>
      <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" />
        <h3>$6770</h3>
        <h4>40% OFF</h4>
        <h2>Cafetera Moulinex</h2>
      </article>
      <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de Mackbook" />
        <h3>$230.000</h3>
        <h4>20% OFF</h4>
        <h2>Mackbook Pro 2019</h2>
      </article>
      <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de Samsung galaxy" />
        <h3>$70.500</h3>
        <h4>10% OFF</h4>
        <h2>Samsung Galaxy s10</h2>
      </article>
      <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera" />
        <h3>$23.300</h3>
        <h4>5% OFF</h4>
        <h2>SmartTv Samsung 43"</h2>
      </article>
    </section>
    <!-- Seccion de ofertas -->
    <section>
      <h2>Ofertas</h2>
      <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" />
        <h3>$6770</h3>
        <h4>40% OFF</h4>
        <h2>Cafetera Moulinex</h2>
      </article>
      <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de Mackbook" />
        <h3>$230.000</h3>
        <h4>20% OFF</h4>
        <h2>Mackbook Pro 2019</h2>
      </article>
      <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de Samsung galaxy" />
        <h3>$70.500</h3>
        <h4>10% OFF</h4>
        <h2>Samsung Galaxy s10</h2>
      </article>
      <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera" />
        <h3>$23.300</h3>
        <h4>5% OFF</h4>
        <h2>SmartTv Samsung 43"</h2>
      </article>
    </section>
  </main>
  <footer>
    <!-- pagar con tarjetas -->
    <section>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <br>
      <h4>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </h4>
    </section>
    <!-- envío -->
    <section>
      <h3>Envío gratis desde $ 2.500</h3>
      <br>
      <h4>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </h4>
    </section>
    <!-- seguridad -->
    <section>
      <h3>Seguridad, de principio a fin</h3>
      <br>
      <h4>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </h4>
    </section>
    <!-- copyright -->
    <section>
      <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </section>
  </footer>
</body>

</html>