body .header{
    background-color: var(--amarillo);
}
.logo-search-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo-container{
  width: 40%;
  margin: 25px 10px 10px 20px;
}
header a img {
  /* width: 50%;*/
   height: 30px; 
  /*margin: 25px 10px 10px 20px; */
  align-self: flex-start;
}
header div#search-bar {
  margin: 10px;
  width: 30%;
  height: 40px;
  margin: 25px 20px 10px 10px;
  display: flex;
  align-items: center;
  
}
#search-bar input{
height: 30px;
}
.fa-search{
  color: var(--grisOscuro);
  height: 30px;
  text-align: center;
  padding-top:7px;
}
header div input {
  /* margin-right: 5px; */
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 2px;
  width: 80%;
}
header div button {
  border: none;
  background-color: white;
  border-radius: 0 5px 5px 0;
  width: 20%;
}
header div button i{
  padding: 2px;
}
header .buy-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}
header div p.buy{
  font-size: var(--texto);
  text-align: center;
  color: var(--negro);
}
nav{
  display: none;
  padding: 10px;
}
.nav-list{
  margin: 20px 0 20px;
}
.nav-list li {
  list-style: none;
  font-size: var(--texto)
}
.nav-list li a {
  text-decoration: none;
  color: var(--negro);
}
.burger-menu{
  text-align: center;
  padding: 20px;
}
.burger-menu i{
  background-color: var(--celeste);
  border-radius: 5px;
  color: var(--grisClaro);
  padding: 10px;
}

@media (min-width: 620px){
  .nav{
    display: flex;
    justify-content: space-between;
  }
  
  .logo-container{
    width: 20%;
    padding-right: 5px;
  }
  header div#search-bar{
    padding-right: 5px;
    padding-left: 0;
    width: 30%;
  }
  header .buy-container{
    padding: 25px 20px 10px 10px;
    width: 40%;
  }
  .nav-list{
    display: flex;
    font-size: 12px;
    padding: 10px;
    margin: 5px;
  }
  .nav-list li{
    padding: 5px;
  }
}