body .header{
    background-color: var(--amarillo);
}

header img {
  width: 150px;
  height: auto;
  margin: 15px 0 10px 20px;
}
header div#search-bar {
  margin: 10px;
  width: 30px;
  display: flex;
}

header div input {
  margin-right: 5px;
}
header div button i{
  padding: 2px;
}
header .buy-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
header div p.buy{
  font-size: var(--texto);
  text-align: center;
  color: var(--negro);
}
nav{
  display: none;
  padding: 10px;
}
.nav-list{
  margin: 20px 0 20px;
}
.nav-list li {
  list-style: none;
  font-size: var(--texto)
}
.nav-list li a {
  text-decoration: none;
  color: var(--negro);
}
.burger-menu{
  text-align: center;
  padding: 20px;
}
.burger-menu i{
  background-color: var(--celeste);
  border-radius: 5px;
  color: var(--grisClaro);
  padding: 10px;
}