.login{
    display: flex;
    justify-content: center;
    padding: auto;
    flex-wrap: nowrap;
    height: 500px;
}
.form-login{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    /* padding: auto; */
    margin: auto;
    /* flex-wrap: nowrap; */
}
.login-title{
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding-left: 8px;
}
.login-input{
    width: 100%;
}

.button-login{
    display: flex;
    width: 100%;
    justify-content: center;
}
.button-login button{
    width: 95%;
    height: 35px;
    margin: 20px 0;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}
.button-login button[type="submit"]{
    border:solid 2px var(--celeste);
    color: #000;
}
.button-login button[type="submit"]:hover{
    background-color:var(--celeste);
    color: var(--blanco);
}
@media (min-width: 620px){
    .form-login{
        width: 90%
    }
    .button-login button{
        width: 50%;
    }
}